* {
  box-sizing: border-box;
}

.drop-menu {
  display: flex;
  justify-content: center;
  text-align: center;
}

.drop-menu select {
  width: 50vh;
  height: 5vh;
  background-color: white;
  border: 2px solid gray;
  margin: 5px;
  border-radius: 5px;
  color: gray;
  font-weight: bold;
}
