* {
  box-sizing: border-box;
}

.labels {
  width: 100vh;
  display: flex;
  justify-content: space-between;
}

.date-form {
  display: flex;
  background-color: #154c79;
  height: 30vh;
  margin-left: 300px;
  margin-right: 300px;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.form-group {
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
}

.footer-div {
  margin-top: 25px;
  background-color: #154c79;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 300px;
  margin-right: 300px;
}

.first-footer-button {
  margin-right: 30px;
}
