* {
  box-sizing: border-box;
}

.labels {
  width: 100vh;
  display: flex;
  justify-content: space-between;
}

.date-form {
  display: flex;
  background-color: #b6d6f0;
  height: 40vh;
  margin-left: 300px;
  margin-right: 300px;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
}

.form-group {
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
}

.footer-div {
  margin-top: 25px;
  background-color: #b6d6f0;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 20px;
}

.first-footer-button {
  margin-right: 30px;
  background-color: #154c79;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 3px;
}

.back-footer-button {
  margin-right: 30px;
  color: blue;
  background-color: #a123a100;
  padding: 8px;
  border: none;
  border-radius: 3px;
  display: flex;
  margin-right: 700px;
  text-decoration: underline;
}

.disabled-button {
  pointer-events: none;
  display: none;
}

.invis-button {
  display: none;
}

.yetiskin-select {
  display: flex;
  margin-right: 30px;
}

.cocuk-select {
  display: flex;
}
/*  ================================================================= */

.fa-calendar {
  font-size: 4rem;
}

.fa-bed {
  font-size: 4rem;
}

.fa-credit-card {
  font-size: 4rem;
}

.container {
  border-radius: 20px;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
  max-width: 100%;
  width: 700px;
}

.progress-container::before {
  content: "";
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease;
}

.progress {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circles {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 3px solid #b2bec3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}

.circles.active {
  border-color: red;
}

.btn:disabled {
  cursor: not-allowed;
}

/*  ================================================================= */

.infobox {
  background-color: #b6d6f0;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 300px;
  margin-left: 300px;
  height: 10vh;
}

.infobox-top {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.infobox-bot {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* ================================================================= */

.paymentbox {
  display: flex;
  background-color: #b6d6f0;
  height: 40vh;
  margin-left: 300px;
  margin-right: 300px;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
}

/*  ==============================*/

.finalbox {
  display: flex;
  background-color: #b6d6f0;
  height: 40vh;
  margin-left: 300px;
  margin-right: 300px;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
}

/*==========================*/

.rainbow-m-horizontal_xx-large {
  margin-right: 3rem;
  margin-left: 3rem;
}
.rainbow-p-horizontal_xx-large {
  padding-right: 3rem;
  padding-left: 3rem;
}
.rainbow-p-vertical_large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
